<!-- modify this form HTML and place wherever you want your form -->
<form action="https://formspree.io/f/mbjezvyv" method="POST">
  <div class="mb-2">
    <label for="name" class="form-label">
      Your Name:
    </label>
    <input id="name" type="text" class="form-control" name="name">
  </div>
  <div class="mb-2">
    <label for="email" class="form-label">
      Your Email:
    </label>
    <input id="email" type="email" class="form-control" name="email">
  </div>
  <input type="hidden" name="subject" value="New submission from HHJMediations.com">
  <div class="mb-2">
    <label for="message" class="form-label">
      Your message:
    </label>
    <textarea rows="4" id="message" name="message" class="form-control"></textarea>
  </div>
  <!-- your other form fields go here -->
  <button type="submit" class="btn btn-primary">Send</button>
</form>