<footer class="py-5 border-top border-1 border-hhj-gold text-center">

  <div class="container small">

    <img src="{{ site.url }}/assets/img/hhj-logo.svg" height="50px" width="233px" />

    <address class="mt-2">
      11 Moosemont Road<br>
      Charleston, WV 25304
    </address>

    <p><a class="text-dark text-decoration-none" href="tel:3045359393"><span class="fas fa-phone"></span> (304) 535-9393</a><br><a class="text-dark text-decoration-none" href="mailto:hhj@hhjmediations.com"><span class="fas fa-envelope"></span> hhj@hhjmediations.com</a></p>

    <ul class="list-inline mb-2 me-2 fs-5">
      <li class="list-inline-item">
        <a class="mb-0 text-decoration-none text-dark" href="#">
          <span class="fab fa-facebook"></span><span class="visually-hidden">Facebook</span>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mb-0 text-decoration-none text-dark" href="#">
          <span class="fab fa-instagram"></span><span class="visually-hidden">Instagram</span>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mb-0 text-decoration-none text-dark" href="https://www.linkedin.com/in/heatherheiskelljones/">
          <span class="fab fa-linkedin"></span><span class="visually-hidden">LinkedIn</span>
        </a>
      </li>
    </ul>

    <div class="footer-col footer-col-3">
      <p>Copyright &copy; {{site.time | date: '%Y'}} HHJ Mediations.</p>
    </div>

  </div>

</footer>
