<footer class="py-5 border-top border-1 border-hhj-gold text-center">

  <div class="container small">

    <img src="{{ site.url }}/assets/img/hhj-logo.svg" height="50px" width="233px" alt="HHJ Mediations logo" />

    <address class="mt-2">
      {{ site.address_line_1 }}<br>
      {{ site.address_line_2 }}
    </address>

    <p><a class="text-dark text-decoration-none" href="tel:{{ site.phone }}"><span class="fas fa-phone"></span> {{ site.phone }}</a><br><a class="text-dark text-decoration-none" href="mailto:{{ site.email }}"><span class="fas fa-envelope"></span> {{ site.email }}</a></p>

    <ul class="list-inline mb-2 me-2 fs-5">
      {% if site.facebook_url %}
        <li class="list-inline-item">
          <a class="mb-0 text-decoration-none text-dark" href="{{ site.facebook_url }}">
            <span class="fab fa-facebook"></span><span class="visually-hidden">Facebook</span>
          </a>
        </li>
      {% endif %}
      {% if site.instagram_url %}
        <li class="list-inline-item">
          <a class="mb-0 text-decoration-none text-dark" href="{{ site.instagram_url }}">
            <span class="fab fa-instagram"></span><span class="visually-hidden">Instagram</span>
          </a>
        </li>
      {% endif %}
      {% if site.linkedin_url %}
        <li class="list-inline-item">
          <a class="mb-0 text-decoration-none text-dark" href="{{ site.linkedin_url }}">
            <span class="fab fa-linkedin"></span><span class="visually-hidden">LinkedIn</span>
          </a>
        </li>
      {% endif %}
    </ul>

    <div class="footer-col footer-col-3">
      <p>Copyright &copy; {{site.time | date: '%Y'}} {{ site.title }}.</p>
    </div>

  </div>

</footer>
