// WVU Bar
//==================================================
// Adds a gold or white bar above or below a header.

@mixin hhj-bar($hhj-bar-color, $hhj-bar-position, $global-important: $global-important) {
  position: relative $global-important;
  @if $hhj-bar-position == 'top' {
    // margin-top: $spacer * 2 $global-important;
    padding-top: 1.5rem;
    &:before {
      background-color: $hhj-bar-color $global-important;
      content: '' $global-important;
      height: 1rem * .25 $global-important;
      position: absolute $global-important;
      top: 0rem $global-important;
      width: $hhj-bar-width $global-important;
    }
  }
  @if $hhj-bar-position == 'bottom' {
    padding-bottom: 1rem $global-important;
    margin-bottom: 1rem $global-important;
    padding-top: 0 $global-important;
    &:before {
      display: none $global-important;
    }
    &:after {
      background-color: $hhj-bar-color $global-important;
      bottom: 0 $global-important;
      content: '' $global-important;
      height: 1rem * .25 $global-important;
      left: 0 $global-important;
      position: absolute $global-important;
      width: $hhj-bar-width $global-important;
    }
  }
}

.hhj-bar {
  @include hhj-bar($hhj-bar-color, top);
  &.hhj-bar--bottom {
    @include hhj-bar($hhj-bar-color, bottom);
  }
  &.hhj-bar--center {
    display: inline-block $global-important;
    &:before, &:after {
      left: 50% $global-important;
      margin-left: -($hhj-bar-width * .5) $global-important;
    }
  }
  &.hhj-bar--white {
    &:before, &:after {
      background-color: white $global-important;
    }
  }
  &.hhj-bar--blue {
    &:before, &:after {
      background-color: $hhj-blue $global-important;
    }
  }
  &.hhj-bar--transparent-dark {
    &:before, &:after {
      background-color: black $global-important;
      opacity: .25 $global-important;
    }
  }
  &.hhj-bar--transparent-light {
    &:before, &:after {
      background-color: white $global-important;
      opacity: .25 $global-important;
    }
  }
}