---
layout: default
---

<header class="border-bottom border-1 border-hhj-gold pb-3 pt-5">
  <div class="container">
    <h1 class="display-4">{{ page.title | escape }}</h1>
  </div>
</header>

<main class="py-5">
  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-3 text-center mb-3">
        <img loading="lazy" class="rounded-circle border border-5 border-hhj-gold w-100 shadow" src="{{ site.url }}/assets/img/hhj.jpg" alt="Heather H. Jones portrait" />
      </div>
      <div class="col-12 col-sm-9 col-xl-8 mx-xl-auto">

        <h2 class="h6 text-uppercase border-top border-1 pt-1 mt-3">Professional Career</h2>

        <ul class="small">
          {% assign work-history = site.professional-career | sort: "position" %}
          {% for workHistoryItem in work-history %}
            <li>
              <strong>{{ workHistoryItem.title }}</strong><br>
              {{ workHistoryItem.institution }}<br>
              {{ workHistoryItem.time-period }}
            </li>
          {% endfor %}
        </ul>

        <h2 class="h6 text-uppercase border-top border-1 pt-1 mt-3">Education</h2>

        <ul class="small">
          {% assign educations = site.education | sort: "position" %}
          {% for educationItem in educations %}
            <li>
              <strong>{{ educationItem.title }}</strong><br>
              {{ educationItem.degree }}
            </li>
          {% endfor %}
        </ul>

        <h2 class="h6 text-uppercase border-top border-1 pt-1 mt-3">Licenses and Admissions</h2>
        <ul class="small">
          {% assign licenses = site.licenses-and-admissions | sort: "position" %}
          {% for license in licenses %}
            <li>
              <strong>{{ license.title }}</strong>{%- if license.institution != '' -%}<br>
              {{ license.institution }}{%- endif -%}
            </li>
          {% endfor %}
        </ul>

        <h2 class="h6 text-uppercase border-top border-1 pt-1 mt-3">Experience</h2>
        <ul class="small">
          <li>
            <strong>Appointed by WV Circuit Court Judges to serve as discovery commissioner and Commissioner in Chancery</strong>
          </li>
        </ul>

        <h2 class="h6 text-uppercase border-top border-1 pt-1 mt-3">Honors & Awards</h2>
        <ul class="small">
          {% assign honors = site.honors-and-awards | sort: "position" %}
          {% for honor in honors %}
            <li>
              <strong>{{ honor.title }}</strong>
              {% if honor.content %}
                {{ honor.content }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>

        <h2 class="h6 text-uppercase border-top border-1 pt-1 mt-3">Publications</h2>
        <ul class="small">
          <li>
            <strong>Virtual Mediation</strong> | <a class="text-decoration-none" href="{{ site.url }}/assets/publications/virtual-mediation.pdf">Download<span class="visually-hidden"> Virtual Mediation Paper</span> <span class="fas fa-file-pdf"></span></a>
          </li>
        </ul>

        <h2 class="h6 text-uppercase border-top border-1 pt-1 mt-3">Volunteering</h2>
        <ul class="small">
          {% assign volunteering = site.volunteering | sort: "position" %}
          {% for volunteeringItem in volunteering %}
            <li>
              <strong>{{ volunteeringItem.title }}</strong><br>
              {{ volunteeringItem.organization }}
            </li>
          {% endfor %}
        </ul>

      </div>

    </div>

  </div>
</main>