---
layout: default
---

<header class="border-bottom border-1 border-hhj-gold pb-3 pt-5">
  <div class="container">
    <h1 class="display-4">{{ page.title | escape }}</h1>
  </div>
</header>

<main class="py-5">
  <div class="container">
    <p class="mb-3">
        <a class="mb-0 text-decoration-none text-dark me-2" href="tel:{{ site.phone }}">
          <span class="fas fa-phone"></span> {{ site.phone }}
        </a><br>
        <a class="mb-0 text-decoration-none text-dark" href="mailto:{{ site.email }}">
          <span class="fas fa-envelope"></span> {{ site.email }}
        </a>
    </p>
    {% include contact.html %}
  </div>
</main>